<!--
    ioBroker.vis LIFX widgets

    version: "0.0.2"
    Copyright foxthtefox

    based on iobroker.vis-jqui, jqui-mfd, metro
    extended for lifx
-->

 <style type="text/css">
 .hue-slider-hue1.ui-slider {
     background-image: url(widgets/jqui/img/hue.png);
     background-size: 0%;
 }

 .hue-slider-ct1.ui-slider {
     background-image: url(widgets/jqui/img/ct.png);
     background-size: 0%;
 }
</style>


<link rel="stylesheet" href="widgets/metro/css/iconFont.min.css" />
<link rel="stylesheet" href="widgets/metro/css/metro-bootstrap.css" />
<script type="text/javascript" src="widgets/metro/js/metro.js"></script>

<script type="text/javascript">
	function hsvToRgb(h, s, v) {
	    /**
	     * HSV to RGB color conversion
	     *
	     * H runs from 0 to 360 degrees
	     * S and V run from 0 to 100
	     * 
	     * Ported from the excellent java algorithm by Eugene Vishnevsky at:
	     * http://www.cs.rit.edu/~ncs/color/t_convert.html
	     */
	    var r, g, b;
	    var i;
	    var f, p, q, t;

	    // Make sure our arguments stay in-range
	    h = Math.max(0, Math.min(360, h));
	    s = Math.max(0, Math.min(100, s));
	    v = Math.max(0, Math.min(100, v));

	    // We accept saturation and value arguments from 0 to 100 
	    s /= 100;
	    v /= 100;

	    if (s == 0) {
		// Achromatic (grey)
		r = g = b = v;
		return [Math.round(r * 255), Math.round(g * 255), Math.round(b * 255)];
	    }

	    h /= 60; // sector 0 to 5
	    i = Math.floor(h);
	    f = h - i; // factorial part of h
	    p = v * (1 - s);
	    q = v * (1 - s * f);
	    t = v * (1 - s * (1 - f));

	    switch (i) {
		case 0:
		    r = v;
		    g = t;
		    b = p;
		    break;

		case 1:
		    r = q;
		    g = v;
		    b = p;
		    break;

		case 2:
		    r = p;
		    g = v;
		    b = t;
		    break;

		case 3:
		    r = p;
		    g = q;
		    b = v;
		    break;

		case 4:
		    r = t;
		    g = p;
		    b = v;
		    break;

		default:
		    // case 5:
		    r = v;
		    g = p;
		    b = q;
	    }

	    return [Math.round(r * 255), Math.round(g * 255), Math.round(b * 255)];
	}
	function temp2rgb(kelvin) {
	    var b, g, r, temp;
	    temp = kelvin / 100;
	    if (temp < 66) {
	      r = 255;
	      g = -155.25485562709179 - 0.44596950469579133 * (g = temp - 2) + 104.49216199393888 * Math.log(g);
	      b = temp < 20 ? 0 : -254.76935184120902 + 0.8274096064007395 * (b = temp - 10) + 115.67994401066147 * Math.log(b);
	    } else {
	      r = 351.97690566805693 + 0.114206453784165 * (r = temp - 55) - 40.25366309332127 * Math.log(r);
	      g = 325.4494125711974 + 0.07943456536662342 * (g = temp - 50) - 28.0852963507957 * Math.log(g);
	      b = 255;
	    }
	    return [Math.round(r), Math.round(g), Math.round(b)];
	};

    'use strict';
    if (vis.editMode) {
        // Add words for basic widgets
        $.extend(true, systemDictionary, {
            "oid":              { "en": "state",        "de":"Status"},
            "oid-ctemp":        { "en": "color temperature",  "de": "Farbtemperatur" },
            "oid-bright":       {"en": "brightness", "de": "Helligkeit"},
            "oid-colormode":    {"en": "mode",  "de": "Modus"},
            "oid-hue":          {"en": "color",    "de": "Farbe"},
            "oid-sat":          {"en": "saturation",    "de": "Sättigung"},
            "unreachable_oid":  {"en": "online",      "de": "Erreichbar"},
            "icon_unreachable": {"en": "icon lamp unreach",      "de": "Icon Lampe unerreichbar"}
        });
    }

    $.extend(true, systemDictionary, {
        "Helligkeit":       {"en": "brightness",        "de": "Helligkeit"},
        "Farbtemperatur":   {"en": "color temperature", "de": "Farbtemperatur"},
        "Sättigung":        {"en": "saturatio",         "de": "Sättigung"},
        "Farbe":            {"en": "color",             "de": "Farbe"}
    });


    vis.binds.lifx = {
        version: "0.0.2",

        lifxColormode: function (el, oid) {
            var $hue = $(el).parent().find('.hue-mode-hue');
            var $ct  = $(el).parent().find('.hue-mode-ct');
            var $ct  = $(el).parent().find('.hue-mode-ct');
            if (vis.states.attr(oid + '.val') == 'white') {
                $hue.hide();
                $ct.show();
            } else {
                $ct.hide();
                $hue.show();
            }

            vis.states.bind(oid + '.val', function (e, newVal, oldVal) {
                if (newVal == 'white') {
                    $hue.hide();
                    $ct.show();
                } else {
                    $ct.hide();
                    $hue.show();
                }
            });
        },
	    hueslider: function (el, options) {
		var $this = $(el);
		var oid = $this.attr('data-oid');
		var oid_val = 0;
		var wid = $this.attr("data-oid-working");
		var settings = $.extend({
		    range: false,
		    min: 0,
		    max: 100,
		    step: 1,
		    value: parseFloat(vis.states.attr(oid + '.val')),
		    slide: function (e, ui) {
			// Slider -> Observable
			vis.setValue(oid, ui.value); //.toFixed(6));

			var rgb = "255, 255, 255";
			    rgb = hsvToRgb(ui.value, 80, 100).join();
			    $this.slider().css("background-color", "rgb("+ rgb +")");

		    }
		}, options);

		if (isNaN(settings.value)) settings.value = 0;
		if (isNaN(settings.min))   settings.min = 0;
		if (isNaN(settings.max))   settings.max = 100;
		if (isNaN(settings.step))  settings.step = (settings.max - settings.min) / 100;

		settings.min = parseFloat(settings.min);
		settings.max = parseFloat(settings.max);
		settings.value = parseFloat(settings.value);

		$this.slider(settings);
		var rgb = "255, 255, 255";
		    rgb = hsvToRgb(settings.value, 80, 100).join();
		    $this.slider().css("background-color", "rgb(" + rgb + ")");

		vis.states.bind(oid + '.val', function (e, newVal, oldVal) {
		    //console.log("slider newVal=" +JSON.stringify(newVal));
		    // If device not in working state
		    if (!vis.states.attr(wid + '.val')) {

			oid_val = parseFloat(newVal);

			var rgb = "255, 255, 255";
			    rgb = hsvToRgb(oid_val, 80, 100).join();
			    $this.slider().css("background-color", "rgb(" + rgb + ")");

			if ($this.slider('instance')) {
			    $this.slider('value', oid_val);
			}
		    }
		});
	    },
	    ctslider: function (el, options) {
		var $this = $(el);
		var oid = $this.attr('data-oid');
		var oid_val = 0;
		var wid = $this.attr("data-oid-working");
		var settings = $.extend({
		    range: false,
		    min: 0,
		    max: 100,
		    step: 1,
		    value: parseFloat(vis.states.attr(oid + '.val')),
		    slide: function (e, ui) {
			// Slider -> Observable

			vis.setValue(oid, ui.value); //.toFixed(6));

			var color = "255, 255, 255";
			color = temp2rgb(ui.value);
			// Set the slider background color
			$this.slider().css("background-color", "rgb(" + color + ")");
		    }
		}, options);

		if (isNaN(settings.value)) settings.value = 0;
		if (isNaN(settings.min))   settings.min = 0;
		if (isNaN(settings.max))   settings.max = 100;
		if (isNaN(settings.step))  settings.step = (settings.max - settings.min) / 100;

		settings.min = parseFloat(settings.min);
		settings.max = parseFloat(settings.max);
		settings.value = parseFloat(settings.value);

		$this.slider(settings);

		var color = "255, 255, 255";
		color = temp2rgb(settings.value);
		// Set the slider background color
		$this.slider().css("background-color", "rgb(" + color + ")");

		vis.states.bind(oid + '.val', function (e, newVal, oldVal) {
		    //console.log("slider newVal=" +JSON.stringify(newVal));
		    // If device not in working state
		    if (!vis.states.attr(wid + '.val')) {

			oid_val = parseFloat(newVal);

			var color = "255, 255, 255";
			color = temp2rgb(oid_val);
			// Set the slider background color
			$this.slider().css("background-color", "rgb(" + color + ")");

			if ($this.slider('instance')) {
			    $this.slider('value', oid_val);
			}
		    }
		});
	    },
        tileDialogLifx: function (el, wid, switch_id, bright_id, ctemp_id, sat_id, hue_id, options, sliderOptions) {
            var $this = $(el).parent().find('.tile');

            var width  = parseInt(options.width, 10);
            var height = parseInt(options.height, 10);

            if (isNaN(width))  width  = undefined;
            if (isNaN(height)) height = undefined;
            
            switch_id = switch_id   || '';
            bright_id = bright_id || '';
            ctemp_id  = ctemp_id || '';
            hue_id    = hue_id || '';
            sat_id    = sat_id || '';
	/*
            var sliderOptions1 = sliderOptions;
            sliderOptions1.min = 0;
            sliderOptions1.max = 100;
            var sliderOptions2 = sliderOptions;
            sliderOptions2.min = 2500;
            sliderOptions2.max = 9000;
            var sliderOptions3 = sliderOptions;
            sliderOptions3.min = 0;
            sliderOptions3.max = 360;
            var sliderOptions4 = sliderOptions;
            sliderOptions4.min = 0;
            sliderOptions4.max = 100;


            sliderOptions.min = (sliderOptions.min === undefined || sliderOptions.min === null || sliderOptions.min === '') ? 0.00 : parseFloat(sliderOptions.min);
            sliderOptions.max = (sliderOptions.max === undefined || sliderOptions.min === null || sliderOptions.max === '') ? 1.00 : parseFloat(sliderOptions.max);

            var range =  sliderOptions.max - sliderOptions.min;
            var factor = 100 / range;
	*/
            $(el).parent().on('click touchstart', function () {
                // Protect against two events
                if (vis.detectBounce(this)) return;

                $.metroDialog({
                    width:     width,
                    height:    height,
                    overlay:   options.overlay   || false,
                    shadow:    options.shadow    || false,
                    flat:      options.flat      || false,
                    draggable: options.draggable || false,
                    icon:      options.icon  ? '<img src="' + options.icon + '">' : (options.icon_class ? '<span class="' + options.icon_class + '"></span>' : false),
                    title:     options.title     || '',
                    content:   '',
                    onShow:    function(_dialog){
                        var content = _dialog.children('.content');
                        var html = '<div style="margin: 12px 0 0 24px;">';
                        html += '<div class="input-control switch"><label>';
                        html += '<input type="checkbox" name="' + wid + '_checkbox" id="' + wid + '_checkbox" data-oid="' + switch_id + '" data-oid-working=""/>';
                        html += '<span class="check"></span>';
                        html += '</label></div>';
                        html += '</div>';                  
                        html += '<div style="margin: -20px 12px 0 12px;">';
                        html += '<div><t style="margin: 0 0 0; font-size:11px;">Helligkeit</t></div>';
                        html += '<div data-oid="' + bright_id + '" data-oid-working="" id="metroSlider_' + wid + "1" + '" class="slider" data-role="slider"></div>';
                        html += '</div>';
                        html += '<div style="margin: 24px 12px 0 12px;">';
                        html += '<div><t style="margin: 0 0 0; font-size:11px;">Farbtemperatur</t></div>';
                        html += '<div data-oid="' + ctemp_id + '" data-oid-working="" id="metroSlider_' + wid + "2" + '" class="slider" data-role="slider"></div>';
                        html += '</div></div>';
                        html += '<div style="margin: 24px 12px 0 12px;">';
                        html += '<div><t style="margin: 0 0 0; font-size:11px;">Farbe</t></div>';
                        html += '<div data-oid="' + hue_id + '" data-oid-working=""  id="metroSlider_' + wid + "3" + '" class="slider" data-role="slider"></div>';
                        html += '</div></div>';
                        html += '<div style="margin: -10px 12px 0 12px;">';
                        html += '<div><t style="margin: 0 0 0; font-size:11px;">Sättigung</t></div>';
                        html += '<div data-oid="' + sat_id + '" data-oid-working=""  id="metroSlider_' + wid + "4" + '" class="slider" data-role="slider"></div>';
                        html += '</div></div>';
                        content.html(html);
/*
                        var val = vis.states.attr(switch_id + '.val');
                        if (val === true || val === 'true') val = sliderOptions.max;
                        val = parseFloat(val);
                        if (isNaN(val)) val = sliderOptions.min;

                        val = Math.floor((val - sliderOptions.min) * factor);
                        sliderOptions.position = val;
*/

                        vis.binds.metro.slider(document.getElementById('metroSlider_' + wid + "1"), {min:0, max:100});
                        vis.binds.metro.slider(document.getElementById('metroSlider_' + wid + "2"), {min:2500, max:9000});
                        vis.binds.metro.slider(document.getElementById('metroSlider_' + wid + "3"), {min:0, max:360});
                        vis.binds.metro.slider(document.getElementById('metroSlider_' + wid + "4"), {min:0, max:100});
                        vis.binds.basic.checkbox(document.getElementById(wid + '_checkbox'), true, 0, 1);
                    }
                });
            });
        }
    };

	console.log('lifx widget version: "' + vis.binds.lifx.version + '"');
</script>

<script id="tplMfdLifxDialog"
        type="text/ejs"
        class="vis-tpl"
        data-vis-set="lifx"
        data-vis-type="dimmer,ctrl,dialog"
        data-vis-prev='<div id="prev_tplMfdLight" style="position: relative; text-align: initial;padding: 4px "><div class="vis-widget_prev vis-widget ui-widget ui-button ui-corner-all ui-state-default" style="width: 70px; height: 70px;"> <div class="vis-widget-prev-body"> <img style="filter: invert(1); -webkit-filter: invert(1); -moz-filter: invert(1); -o-filter: invert(1); -ms-filter: invert(1);" width="100%" src="widgets/jqui-mfd/img/light_light_dim.png"></div></div></div>'
        data-vis-name="Light/Dimmer Color LIFX"
        data-vis-attrs="oid/id;oid-bright;oid-color;oid-sat;oid-color;oid-ctemp;oid-colormode;invert_icon/checkbox;asButton[true]/checkbox;iconColor/color;"
        data-vis-attrs0="group.colors;iconColor0/color;iconColor1/color;iconColor2/color;iconColor3/color;iconColor4/color;iconColor5/color;iconColor6/color;iconColor7/color;iconColor8/color;iconColor9/color;iconColor10/color;"
        data-vis-attrs1="group.dialog;title;noHeader/checkbox;autoclose/checkbox,0,30000,100;modal/checkbox;dialog_width[470];dialog_height[180];dialog_top;dialog_left;overflowX/nselect,,visible,hidden,scroll,auto,initial,inherit;overflowY/nselect,,visible,hidden,scroll,auto,initial,inherit;show_value/checkbox;units;"
        >

    <div data-oid="<%= this.data.attr('oid') %>" class="vis-widget <%= this.data.attr('asButton') ? ' ui-widget ui-button ui-corner-all ui-state-default' : '' %> <%= this.data.attr('class') %>" id="<%= this.data.attr('wid') %>" style="width:76px; height:76px; position:absolute" <%= (el) -> this.data.attr('asButton') ? vis.binds.jqueryui.classes(el) : '' %>>
    <div id="<%= this.data.attr('wid') %>_body" class="vis-widget-body" style="width:100%; height:100%" <%= (el) -> vis.preloadImages(['widgets/jqui-mfd/img/light_light_dim_100.png','widgets/jqui-mfd/img/light_light_dim_90.png','widgets/jqui-mfd/img/light_light_dim_80.png','widgets/jqui-mfd/img/light_light_dim_70.png','widgets/jqui-mfd/img/light_light_dim_60.png','widgets/jqui-mfd/img/light_light_dim_50.png','widgets/jqui-mfd/img/light_light_dim_40.png','widgets/jqui-mfd/img/light_light_dim_30.png','widgets/jqui-mfd/img/light_light_dim_20.png','widgets/jqui-mfd/img/light_light_dim_10.png','widgets/jqui-mfd/img/light_light_dim.png']); %>>
    <%
    var styles = "";
    if (this.data.invert_icon === "true" || this.data.invert_icon === true) {
        styles = "filter: invert(1); -webkit-filter: invert(1); -moz-filter: invert(1); -o-filter: invert(1); -ms-filter: invert(1);";
    }
        
    var str = vis.states.attr(this.data.oid + '.val');
    if (str == 1) {
        var val = vis.states.attr(this.data.attr('oid-bright') + '.val');console.log('val:'+val);}
        
    else{var val = 0;}
    var val = (parseFloat(val)/100);
    var image = '';
    if (val == 1) {
    %>
    <img style="<%= styles %>" width="100%" src="widgets/jqui-mfd/img/light_light_dim_100.png"/>
    <% } else if (val >= 0.9) { %>
    <img style="<%= styles %>" width="100%" src="widgets/jqui-mfd/img/light_light_dim_90.png"/>
    <% } else if (val >= 0.8) { %>
    <img style="<%= styles %>" width="100%" src="widgets/jqui-mfd/img/light_light_dim_80.png"/>
    <% } else if (val >= 0.7) { %>
    <img style="<%= styles %>" width="100%" src="widgets/jqui-mfd/img/light_light_dim_70.png"/>
    <% } else if (val >= 0.6) { %>
    <img style="<%= styles %>" width="100%" src="widgets/jqui-mfd/img/light_light_dim_60.png"/>
    <% } else if (val >= 0.5) { %>
    <img style="<%= styles %>" width="100%" src="widgets/jqui-mfd/img/light_light_dim_50.png"/>
    <% } else if (val >= 0.4) { %>
    <img style="<%= styles %>" width="100%" src="widgets/jqui-mfd/img/light_light_dim_40.png"/>
    <% } else if (val >= 0.3) { %>
    <img style="<%= styles %>" width="100%" src="widgets/jqui-mfd/img/light_light_dim_30.png"/>
    <% } else if (val >= 0.2) { %>
    <img style="<%= styles %>" width="100%" src="widgets/jqui-mfd/img/light_light_dim_20.png"/>
    <% } else if (val >= 0.1) { %>
    <img style="<%= styles %>" width="100%" src="widgets/jqui-mfd/img/light_light_dim_10.png"/>
    <% } else if (val >= 0.01) { %>
    <img style="<%= styles %>" width="100%" src="widgets/jqui-mfd/img/light_light_dim_00.png"/>
    <% } else { %>
    <img style="<%= styles %>" width="100%" src="widgets/jqui-mfd/img/light_light_dim.png"/>
    <% } %>
    </div>

    <div id="<%= this.data.attr('wid') %>_dialog" class="<%= this.data.attr('wid') %>_dialog vis-widget-dialog" title="<%= this.data.title || this.data.attr('oid') %>" style="padding-left:20px;" style="width:100px; height:100px">

        <br/>
        <span id="<%= this.data.attr('wid') %>_radio"  class="<%= this.data.attr('wid') %>_radio" style="text-align: center" data-oid="<%= this.data.attr('oid') %>" <%= (el) -> vis.binds.jqueryui.radio(el); %> >
            <input type="radio" id="<%= this.data.attr('wid') %>_radio_off" name="<%= this.data.attr('wid') %>_radio" value="0" checked="checked"/><label for="<%= this.data.attr('wid') %>_radio_off">aus</label>
            <input type="radio" id="<%= this.data.attr('wid') %>_radio_on" name="<%= this.data.attr('wid') %>_radio" value="1"/><label for="<%= this.data.attr('wid') %>_radio_on">an</label>
        </span>

        <span style="padding-left: 25px" id="<%= this.data.attr('wid') %>_radio_cm"  class="<%= this.data.attr('wid') %>_radio" style="text-align: center" data-oid="<%= this.data.attr('oid-colormode') %>" <%= (el) -> vis.binds.jqueryui.radio(el); %> >
            <input type="radio" id="<%= this.data.attr('wid') %>_radio_cm_ct" name="<%= this.data.attr('wid') %>_radio_cm" value="white" checked="checked"/><label for="<%= this.data.attr('wid') %>_radio_cm_ct">weiß</label>
            <input type="radio" id="<%= this.data.attr('wid') %>_radio_cm_hs" name="<%= this.data.attr('wid') %>_radio_cm" value="color"/><label for="<%= this.data.attr('wid') %>_radio_cm_hs">farbe</label>
        </span>

        <br/><br/>
        Helligkeit
        <div class="sliderJQUI" style="width:90%" id="<%= this.data.attr('wid') %>_slider" data-oid="<%= this.data.attr('oid-bright') %>"  <%= (el) -> vis.binds.jqueryui.slider(el, {min:0,max:100,step:1}) %> />
        <br/>

        <br/>
        <div class="hue-mode-ct">
            <div class="sliderJQUI hue-slider-ct1" style="width:90%" id="<%= this.data.attr('wid') %>_hue_ct_slider" data-oid="<%= this.data.attr('oid-ctemp') %>"  <%= (el) -> vis.binds.lifx.ctslider(el, {min:2900,max:9000,step:1}) %> />
        </div>
        <div class="hue-mode-hue">
            <div class="sliderJQUI hue-slider-hue1" style="width:90%" id="<%= this.data.attr('wid') %>_hue_hue_slider" data-oid="<%= this.data.attr('oid-color') %>"  <%= (el) -> vis.binds.lifx.hueslider(el, {min:0,max:360,step:1}) %> />
            <br/>
            Sättigung
            <div class="sliderJQUI hue-slider-sat" style="width:90%" id="<%= this.data.attr('wid') %>_hue_sat_slider" data-oid="<%= this.data.attr('oid-sat') %>"  <%= (el) -> vis.binds.jqueryui.slider(el, {min:0,max:100,step:1}) %> />
        </div>

    </div>
    <div class="pupup-helper" <%= (el) -> vis.binds.lifx.lifxColormode(el, this.data.attr('oid-colormode')) %> />
    <div class="popup-helper" <%= (el) -> vis.binds.jqueryui.dialog(el,{width:440,height:320,modal:data.attr('modal')},true) %> />
    <div class="popup-helper" <%= (el) -> if (data.attr("autoclose") === 'true' || data.attr("autoclose") === true) { vis.binds.jqueryui.dialogAutoClose(el) }  %> />
    </div>
</script>


<script id="tplMetroLifxTileDimmerDialog"
        type="text/ejs"
        data-vis-prev='<div id="prev_tplMetroLifxTileDimmerDialog" style="position: relative; text-align: initial;padding: 4px "><div class="vis-widget_prev vis-widget-lock" style="width: 120px; height: 120px; padding: 3px;"> <div style="width: 100%; height: 100%" class="metro vis-widget-prev-body"> <div style="width: 100%; height: 100%;" class="tile hover bg-indigo"><div class="tile-content" style="text-align: center"><img width="90%" src="widgets/metro/img/light_light_dim.png"></div> <div class="brand ribbed-steel"><span class="label fg-white">Dimmer Dialog</span></div> </div><div style="padding: 42px 10px 10px;"></div></div></div></div>'
        data-vis-attrs="oid/id,light.switch;oid-bright/id,level.color.bri;oid-ctemp/id,level.color.temp;oid-sat/id,level.color.sat;oid-hue/id,level.color.hue;min[0];max[100];digits/number;hover[true]/checkbox;transform[true]/checkbox;label[Lifx Color];"
        data-vis-attrs0="bg_class[bg-indigo]/style,metro-,bg- ribbed-;"
        data-vis-attrs1="brand_bg_class[none]/style,metro-,bg- ribbed-;"
        data-vis-attrs2="group.slider;sliderColor/color;sliderCompleteColor/color;sliderMarkerColor/color;"
        data-vis-attrs3="group.dialog;dialog_flat/checkbox;dialog_shadow/checkbox;dialog_draggable[true]/checkbox;dialog_modal/checkbox"
        data-vis-attrs4="group.service;unreachable_oid/id,indicator.reachable;icon_unreachable[wifiColorRed]/style,iconFont,icon-,,Icon;badge_bg_class[]/style,metro-,bg-;"
        class="vis-tpl"
        data-vis-set="lifx"
        data-vis-type="ctrl,dimmer,dialog"
        data-vis-name="Tile Color Dimmer Dialog">

        <% // some data processing to prepare the data
            var size_badge      = 0;
            if (this.data.attr('unreachable_oid')) size_badge++;
        %>

    <div id="<%= this.data.attr('wid') %>" class="vis-widget" style="width: 136px; height: 136px; padding: 3px;" <%= (el) -> vis.preloadImages(['widgets/metro/img/light_light_dim_100.png','widgets/metro/img/light_light_dim_90.png','widgets/metro/img/light_light_dim_80.png','widgets/metro/img/light_light_dim_70.png','widgets/metro/img/light_light_dim_60.png','widgets/metro/img/light_light_dim_50.png','widgets/metro/img/light_light_dim_40.png','widgets/metro/img/light_light_dim_30.png','widgets/metro/img/light_light_dim_20.png','widgets/metro/img/light_light_dim_10.png','widgets/metro/img/light_light_dim.png']); %>>
        <div style="width: 100%; height: 100%" class="metro vis-widget-body <%== this.data.attr('class') %>" >

            <div style="width: 100%; height: 100%;" id="metroTile_<%= this.data.attr('wid') %>" class="tile <%= this.data.attr('hover') ? 'hover ' : '' %><%= this.data.attr('bg_class') %>">
                <div class="tile-content" style="text-align: center">
                <%
                var str = vis.states.attr(this.data.oid + '.val');
                if (str==1) {
                    var val = vis.states.attr(this.data.attr('oid-bright') + '.val');}
                else{var val=0;}

                var min = this.data.attr('min');
                if (min !== undefined && min !== null && min !== '') {
                    min = parseFloat(min);
                } else {
                    min = 0;
                }

                var max = this.data.attr('max');
                if (max !== undefined && max !== null && max !== '') {
                    max = parseFloat(max);
                } else {
                    max = 100;
                }

                val = (val - min) / (max - min);

                if (val === 1) {
                %>
                <img width="90%" src="widgets/metro/img/light_light_dim_100.png"/>
                <% } else if (val >= 0.9) { %>
                <img width="90%" src="widgets/metro/img/light_light_dim_90.png"/>
                <% } else if (val >= 0.8) { %>
                <img width="90%" src="widgets/metro/img/light_light_dim_80.png"/>
                <% } else if (val >= 0.7) { %>
                <img width="90%" src="widgets/metro/img/light_light_dim_70.png"/>
                <% } else if (val >= 0.6) { %>
                <img width="90%" src="widgets/metro/img/light_light_dim_60.png"/>
                <% } else if (val >= 0.5) { %>
                <img width="90%" src="widgets/metro/img/light_light_dim_50.png"/>
                <% } else if (val >= 0.4) { %>
                <img width="90%" src="widgets/metro/img/light_light_dim_40.png"/>
                <% } else if (val >= 0.3) { %>
                <img width="90%" src="widgets/metro/img/light_light_dim_30.png"/>
                <% } else if (val >= 0.2) { %>
                <img width="90%" src="widgets/metro/img/light_light_dim_20.png"/>
                <% } else if (val >= 0.1) { %>
                <img width="90%" src="widgets/metro/img/light_light_dim_10.png"/>
                <% } else if (val >= 0.01) { %>
                <img width="90%" src="widgets/metro/img/light_light_dim_00.png"/>
                <% } else { %>
                <img width="90%" src="widgets/metro/img/light_light_dim.png"/>
                <% } %>
                </div>
                <div class="brand <%= this.data.attr("brand_bg_class") %>">
                    <span class="label fg-white"><%= this.data.attr("label") %></span>
                    <% if (size_badge > 0) { %>
                        <div class="badge <%= this.data.attr('badge_bg_class') %>" style="width: <%= size_badge * 19 %>px">
                        <% if (this.data.attr('unreachable_oid')) { %>
                            <i class="<%= this.data.attr('icon_control_mode_' + vis.states.attr(this.data.attr('unreachable_oid') + '.val')) %>" style="padding: 0 1px;"></i>
                        <% } %>
                        </div>
                    <% } %>
                </div>
            </div>
            <div
                <%= (el) -> vis.binds.lifx.tileDialogLifx(el, data.wid, data.oid, data['oid-bright'], data['oid-ctemp'], data['oid-sat'], data['oid-hue'], {title: data.label, flat: data.dialog_flat, shadow: data.dialog_shadow, overlay: data.dialog_modal, icon: data.dialog_icon_src, icon_class: data.dialog_icon_class, draggable: data.dialog_draggable, width: 320, height: 360}, {color: data.sliderColor, completeColor: data.sliderCompleteColor, markerColor: data.sliderMarkerColor, digits: data.digits}) %> style="padding: 42px 10px 10px;">
            </div>
            <div <%= (el) -> vis.binds.metro.tile(el, data.transform) %>></div>
        </div>
    </div>
</script>
